.main {
  background-color: rgba(0, 34, 114, 0.5);
  border-radius: 15px;
  padding: 5px 32px 40px;
}

input[type=number]:not(.browser-default),
input[type=number]:not(.browser-default):focus:not([readonly]),
.select-wrapper input.select-dropdown{
  border-bottom: 1px solid #fff;
}

.input-field>label,
.active {
  color: #fff !important;
}

.select-dropdown {
  overflow-y: auto !important;
}

.convert-btn {
  width: 25%;
  margin: auto
}

.inverse {
  background: transparent;
  border: none;
  padding-top: 1rem !important;
}

.inverse:hover {
  cursor: pointer;
}

.select-wrapper span.caret {
  color: #fff;
}

.inverse:active,
.inverse:focus {
  background: transparent
}
